
*.pyc
*.ipynb
*.ipynb
*.ipynb
*.pyc
# *.csv
# *.pkl
*.pyc
.DS_Store


experiments/__pycache__/*
.DS_Store
__pycache__/
logs/*
log_dir/*
experiments/logs/*
experiments/results/*
experiments/model_weights/*
notebooks/*
